.brag-section-inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.button-primary.button-primary-inverted {
  background-color: #ECEDED;
  color: #6163FF;
}

@include media('>medium') {
  .cta-action {
    min-width: 270px;
  }
}

.technologies-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  .technology-wrapper {
    padding: 10px 10px;
    width: 260px;
    padding: 10px 10px;
    margin: 10px 5px;
    border-radius: 2px;
    border: 1px solid #717D86;
    overflow: scroll;
    width: 260px;

    .title {
      font-weight: bold;
      text-align: center;
      font-size: 18px;
      color: #ECEDED;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 5px;
    }

    .list {
      font-size: 16px;
      max-height: 246px;
      overflow: scroll;
    }

    ul {
      margin-bottom: 10px;
    }

    li {
      margin-bottom: 1px;
    }
  }
}

.service-list {
  margin-bottom: 0;
  font-size: 16px;
  margin-top: 15px;

  li {
    margin-bottom: 2px;
  }
}

.cta-action {
  background-color: white;
  padding: 10px;
  border-radius: 1px;

  .email-button .button {
    margin-bottom: 5px;
  }
}

.contact-info {
  font-size: 16px;
  color: #5d656b;
  text-align: left;

  .phone-a:hover {
    text-decoration: underline;
  }
  
  a {
    color: #5d656b;
  }

  .phone svg {
    margin-top: -2px;
  }

  svg {
    width: 18px;
    fill: #6163FF;
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.contact-us-cta-button {
  width: 100%;
}

.services-section {
  .split-item-image {
    img.services-images {
      max-width: 528px !important;
      max-height: 520px !important;
      padding: 5px;
    }
  }

  .split-item-image.flip-image img {
    transform: scale(-1, 1);
  }
}
